  <h1> Ruby is super</h1>
  <p><%= date %></p>
  <p><%= @plus = 1+2+3+4 %></p>
  <p> 
  <% if @plus == 10 %>
  <h2> @ plus = <%= @plus %> </h2>
  <% end %>
  </p>
  <% [1, 2, 3, 4].each do |e| %>
      <strong><%= e+100 %></strong>
  <% end %>